* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

li {
    line-height: 1.25rem;
}

.hidden {
    display: none;
}

.error {
    color: red;
}

img {
    margin-top: 16px;
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
}